//
// Utility classes
// --------------------------------------------------

// Padding - margin
// -------------------------
 .padding__bottom--2{
    padding-bottom: 2%;
 }
.margin--auto{
    margin: auto;
 }
 .margin__left{
    margin: 0;
 }
 .padding--10{
  padding: 10%;
 }


 //Background
 .bg--gray{
  background-color: #F2F2F2;
  padding: 2% 0;
  margin-bottom: 1%;
 }
  .bg--black{
  background-color: #000000;
  opacity: 0.5;
  padding: 2% ;
  margin-bottom: 1%;
 }
 .bg__btn--black{
  background-color: #000000;
  padding: 10% 0;
  text-align: center;
 }

 // Colors
.circle__color{
  border-radius: 50%;
  width: 200px;
  height: 200px;
  padding: 5%;
}
@media (max-width: 768px){
  .circle__color{
    padding-top: 8%;
  }
}
.bg-color--black{
  background-color: #000000;
}
.bg-color--silver{
  background-color: #999999;
}
.bg-color--white{
  background-color: #FFFFFF;
  border: 1px solid #999999;
}
.bg-color--red{
  background-color: #D91803;
}

.text--red{
 color:  #D91803;
}

// Floats
// -------------------------

.clearfix {
  .clearfix();
}
.center-block {
  .center-block();
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}


// Toggling content
// -------------------------

// Note: Deprecated .hide in favor of .hidden or .sr-only (as appropriate) in v3.0.1
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  .text-hide();
}


// Hide from screenreaders and browsers
//
// Credit: HTML5 Boilerplate

.hidden {
  display: none !important;
}


// For Affix plugin
// -------------------------

.affix {
  position: fixed;
}
