.section__info{
	padding: @padding-base-horizontal @padding-base-vertical;
	text-align: center;

	@media (min-width: @screen-sm){
		height: 100%;

		position: absolute; top: 50%; left:50%;
		.translate(-50%; -50%);

		//overflow-y: scroll;
	}
}

.section__text{
	width: 100%;

	@media (min-width: @screen-sm){
		height: 50%;

		position: absolute; top: 50%; left:50%;
		.translate(-50%; -50%);

		overflow-y: scroll;
	}
}

.section__text h2{

	@media (min-width: @screen-sm){
		width: 50%;
		padding-left: @padding-small-horizontal; padding-right: @padding-small-horizontal; margin: 0;
		text-align: left;
		position: absolute; top: 0; left: 100%;

	}

	@media (min-width: @screen-md){
		width: 100%;
	}

}

.section__info--dark{
	background: @dark; color: @light;

	@media (min-width: @screen-sm){
		background: fade(@dark, 50%);
	}
}
.section__info--light{
	background: @light; color: @dark;

	@media (min-width: @screen-sm){
		background: fade(@light, 70%);
	}
}

.btn--map--float{

	left: -50%;

	.transition(all 0.3s ease );

	&.toggled{
		left: 0;
	}
}