.section__info{
	padding: @padding-base-horizontal @padding-base-vertical;
	text-align: center;

	@media (min-width: @screen-sm){
		position: absolute; top: 50%; left:50%;
		transform: translate(-50%,-50%);
	}
}

.section__info--dark{
	background: @dark; color: @light;
}
.section__info--light{
	background: @light; color: @dark;
}