//
// Utility classes
// --------------------------------------------------

// Box model
// -------------------------

//Padding

.padding{ padding: @padding-base-vertical @padding-base-horizontal; }
.padding--xl{ padding: @padding-xl-vertical @padding-xl-horizontal; }
.padding--large{ padding: @padding-large-vertical @padding-large-horizontal; }
.padding--small{ padding: @padding-small-vertical @padding-small-horizontal; }
.padding--xs{ padding: @padding-xs-vertical @padding-xs-horizontal; }

.padding-bottom{ padding-bottom: @padding-base-vertical; }

.padding-top-bottom{
  padding-top: @padding-base-vertical; padding-bottom: @padding-base-vertical;
}
.padding-top-bottom--large{
  padding-top: @padding-large-vertical; padding-bottom: @padding-large-vertical;
}

//Border
.border-bottom--primary{ border-bottom: 5px solid @brand-primary;}

.border-bottom--dotted{ border-bottom: 2px dotted @dark;}
.border-bottom--dotted--light{ border-bottom: 2px dotted @light;}

//Margin
.no-margin{ margin: 0; }
.no-margin-left{ margin-left: 0;}

.margin-auto{
  margin-left: auto; margin-right: auto;
}

.margin-bottom{ margin-bottom: @padding-base-vertical; }



// Geometric forms
// -------------------------
.circle{
  width: 200px; height: 200px;
  padding: 5%;
  border-radius: 50%;

  @media (max-width: @screen-sm-min){
    padding-top: 8%;
  }
}

// Floats
// -------------------------

.clearfix {
  .clearfix();
}
.center-block {
  .center-block();
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}


// Toggling content
// -------------------------

// Note: Deprecated .hide in favor of .hidden or .sr-only (as appropriate) in v3.0.1
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  .text-hide();
}


// Hide from screenreaders and browsers
//
// Credit: HTML5 Boilerplate

.hidden {
  display: none !important;
}


// For Affix plugin
// -------------------------

.affix {
  position: fixed;
}



// Positions
// -------------------------

.relative{ position: relative; }
.absolute{ position: absolute; }